
body {
    margin: 0;
    padding: 0;
}

/* Animation frames */

@-webkit-keyframes bgImageSlide {
    0%   {background-position: center bottom;}
    100% {background-position: center;}
}

@-webkit-keyframes contentSlide {
    0%   {top: 15%;}
    100% {top: 25%;}
}

@keyframes bgImageSlide {
    0%   {background-position: center bottom;}
    100% {background-position: center;}
}

@keyframes contentSlide {
    0%   {top: 0%;}
    50%  {top: 12%}
    100% {top: 25%;}
}

.wrapper {
    position: absolute;
    background: maroon;
    background: url('stevens_nyc2.jpg');
    background-position: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    -webkit-animation-name: bgImageSlide;
    -webkit-animation-duration: 3s;
    animation-name: bgImageSlide;
    animation-duration: 3s;
}

.wrapper > div {
    position: absolute;
    display: block;
    top: 25%;
    width: 100%;
    text-align: center;
/*
    -webkit-animation-name: contentSlide;
    -webkit-animation-duration: 3s;
    animation-name: contentSlide;
    animation-duration: 3s;
*/
}

.header > h1, .header > h2 {
    font-family: 'Orbitron', sans-serif;
    color: maroon;
    text-shadow: -2px 0 gray, 0 2px gray, 2px 0 gray, 0 -2px gray;
}

.header > h1 {
    font-weight: 900;
    font-size: 60px;
    cursor: default;
}

.header > h2 {
    font-weight: bold;
}


.interestForm {
    margin-top: 30px;
}

input[type="email"], button {
    border: 3px solid maroon;
    padding: 10px;
    border-radius: 8px;
    background: white;
    color: maroon;
    margin: 0px 10px;
    font-size: 20px;
    min-width: 250px;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
}

button {
    min-width: 0;
}

input[type="email"]:focus {
    border-color: lightgray;
    outline: 0;
}

/*input[type="email"]::-webkit-input-placeholder {
    color: pink;
}*/

button:hover {
    border-color: lightgray;
}

button:focus {
    outline: 0;
}

button:active {
    outline: 0;
    background: lightgray;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
