
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: absolute;
    /*background-image: url('img/')*/
    background: -moz-linear-gradient(top, rgba(200,0,40,.6) 0%, rgba(246,146,30,.5) 100%), url('img/bgbw.jpg') no-repeat;
    background: -webkit-linear-gradient(top, rgba(200,0,40,.6) 0%, rgba(246,146,30,.5) 100%), url('img/bgbw.jpg') no-repeat;
    background: -o-linear-gradient(top, rgba(200,0,40,.6) 0%, rgba(246,146,30,.5) 100%), url('img/bgbw.jpg') no-repeat;
    background: -ms-linear-gradient(top, rgba(200,0,40,.6) 0%, rgba(246,146,30,.5) 100%), url('img/bgbw.jpg') no-repeat;
    /*background: linear-gradient(to bottom, rgba(200,0,40,.6) 0%, rgba(246,146,30,.5) 100%), url('/img/bgbw.jpg') no-repeat;*/
    height: 100%;
    width: 100%;
}

.wrapper > .header {
    position: absolute;
    display: block;
    top: 25%;
    width: 100%;
    text-align: center;
}

#S:hover {
    color: lightgray;
    cursor: default;
}

.soc-media {
  padding-left: 10px;
}
i {
  color: rgba(253,253,253,0.6);
  font-size: 3em;
  padding-left: 2px;
  padding-right: 2px;
}

i:hover {
  color: rgba(253,253,253,0.9);
}

.wrapper > .title {
    position: fixed;
    top: 10%;
    width: 100%;
    display: block;
}
.title > h1{
    color: #fdfdfd;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4em;
}

.header {
    padding-top: 50px;
    background-color: rgba(255,255,255,0.6);
}

.header > h1, .header > h2 {
    color: #lightgray;
    padding-bottom: 20px;
}

.header > h1 {
    font-weight: 900;
    font-size: 60px;
}

.header > h2 {
    font-weight: 400;
}


#interestForm {
    margin-top: 30px;
}

.form-inline {
  padding-bottom: 120;
  padding-right: 10%;
  padding-left: 10%;
}
/*input[type="email"], button {
    border: 3px solid gray;
    padding: 10px;
    border-radius: 8px;
    background: white;
    color: #252525;
    margin: 0px 10px;
    font-size: 20px;
    min-width: 250px;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
}*/

button {
    min-width: 0;
}

input[type="email"]:focus {
    border-color: lightgray;
    outline: 0;
}

button:hover {
    background: gray;
    border-color: lightgray;
}

button:focus {
    outline: 0;
}

button:active {
    outline: 0;
    background: lightgray;
}

footer > p {
    color: white;
}
